/* Base styles */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
  }
  
  .about_heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .about_data {
    font-size: 1.1rem;
    line-height: 1.5;
  }
  
  .image_gaurav {
    margin-bottom: 2rem;
  }
  
  .image_gaurav img {
    width: 25rem;
    height: 20rem;
    object-fit: cover; /* Ensure image fills the container without distortion */
    border-radius: 11rem;
  }
  
  /* Responsive styles for smaller screens */
/* Responsive styles for laptop view (larger than 768px) */
@media (min-width: 768px) {
    .about {
      display: flex;
      flex-direction: row;
      justify-content: space-between; /* Align items to opposite ends */
      align-items: flex-start;
    }
  
    .image_gaurav {
      margin-left: 2rem; /* Adjust spacing as needed */
      width: 15rem;
    }
  
    .about_data {
      text-align: left;
    }
  }
  