/* Style the header element */
header {
  position: relative;
}

/* Style the background image */
.background-image {
  width: 100%;
  height: 46rem;
}

/* Style the section containing header content */
.headerCSS {
  position: absolute;
  margin-top: -45rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* Adjust as needed */
  align-items: center;
}

.header-left {
  font-family: 'Roboto', sans-serif;
}

/* Style your name (Gaurav) */
.header-left a {
  font-size: 36px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 2rem;
  cursor: pointer;
}

/* Style the navigation links */
.header-center {
  display: flex;
  flex-direction: column;
  font-family: 'Gabarito', sans-serif;
}

.header-center ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* Adjust the margin as needed */
}

.header-center a.header-text {
  text-decoration: none;
  color: #dedddd;
  margin: 0 20px;
  cursor: pointer;
  font-size: 18px;
}

/* Style the social media icons on the right */
.header-right {
  display: flex;
  align-items: center;
}

.header-right a {
  text-decoration: none;
}

/* Style the social media icon images */
.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  /* Adjust the margin as needed */
}

.datasection {
  margin-top: -27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Center items horizontally */
}

.para_data {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-top: 0rem;
  font-family: 'Oswald', sans-serif;
}


.btnnn {
  width: 7rem;
  background-color: #6b676700;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid black;
}

.btnnn:hover {
  background-color: #281b1b35;
}

@media (max-width: 768px) {
  .header-left a {
    font-size: 24px;
  }

  .header-center a.header-text {
    font-size: 16px;
  }
}
