/* header.css */
.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../images/header_background.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  height: auto;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.social-media {
  margin-right: 1rem;
  display: flex;
  gap: 1rem;
}

.social-media a {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #ffffff;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 1rem;
}

.header-text {
  color: #ffffff;
  text-decoration: none;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 20rem;
  color: #fff;
}

.hero-text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.button {
  background-color: #df000000;
  border: 1px solid #fffefe;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color .3s;
  width: 5rem;
}
.hero-text a:hover{
  background-color: #d9d4d400;
}

@media only screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .button{
    color: white;
  }
  .hero-text {
    text-align: center;
    position: relative;
    top: 17rem;
    color: #fff;
  }
  nav,
  .social-media {
    text-align: center;
    margin: 1rem 0;
    display: block;
  }

  nav {
    display: none;
  }
  .logo {
    color: white;
  }
}
